@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-light mt-5">
    <h1>Welcome to PayHub</h1>
    <p>PayHub for decentralized web. Bring payment to every website without a payment center.</p>
    <p>Learn about <a href="https://github.com/taurenshaman/payhub">PayHub</a>.</p>
</div>

@section Scripts{
    @*<script src="~/lib/d3/d3.v5.min.js"></script>
    <script src="~/js/connected-particles.js" asp-append-version="true"></script>*@
}
